.container {
    width: 25vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15%;
    justify-content: center;
    background-color: #F9F6EE;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 10px 15px 0px #716b6b74;
}

.container:hover {
    font-size: 1.1em;
    transform: scale(1.1);
}

.card img {
    height: 40vh;
    width: 25vw;
    border-radius: 15% 15% 0 0;
}

.card h3 {
    padding-top: 10px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-align: center;
}

.card p {
    text-align: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.card button {
    margin: 20px;
    height: auto;
    width: auto;
    padding: 7px;
    border: none;
    color: #FFBB33;
    margin-left: 130px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    align-content: center;
    background-color: #FFF;
    border: 2px solid #FFBB33;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.card button:hover {
    cursor: pointer;
    color: #FFBB33;
    border: none;
    background-color: #232323;
}