/*
.container {
    padding: 6vh; //
    height: 90vh;
    display: flex; //
    flex-wrap: wrap; //
    align-items: center; //
    justify-content: space-around; //
    background-color: #232323; //
}

.container h1 {
    color: #ffdab9;
    text-align: center;
    text-transform: uppercase;
    font-family: 'GFS Didot', serif;
    transition: transform 0.3s ease-in-out;
}

.container h1:hover {
    transform: scale(1.2);
}

.container span {
    color: #FFBB33;
}

.container form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container label {
    padding: 5px;
    opacity: 50%;
    color: #FFF;
}


.container select {
    width: 25vw;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.container input {
    width: 25vw;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.container textarea {
    padding: 8px;
    height: 35vh;
    outline: none;
    margin-bottom: 15px;
    border-radius: 5px;
}


.container a {
    width: 20%;
    padding: 4px;
    color: #FFBB33;
    margin-left: 35%;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #FFBB33;
}

.container a:hover {
    border: none;
    opacity: 80%;
    color: #232323;
    background-color: #FFF;
}
*/