/*.container {
    height: 100vh;
    padding: 55px;
    background-color: #ffdab9;
}

.container h1 {
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}

.col_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}*/