.footer {
    background-color: rgb(255, 201, 155);
    color: #FFFFFF;
    padding: 2em;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
}

.footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer li, a {
    color: #FFF;
    margin: 0 1em;
    font-size: 1.2em;
}

.footer li,a:hover {
    color: #FFBB33;
}

.footer svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #ffffff;
}